@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
.whole {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100%;
}
body p {
  font-family: "Spoqa Han Sans", sans-serif;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(95, 156, 248);
  margin: 0;
  padding: 0;
}